@model WOM_EYE.Models.Login.LoginModel

@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    //ViewData["responseMessage"] = Model.responseMessage;

}



<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">



    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    
    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                       
                        <div class="col-lg-12">
                            <div class="p-5">


                                
                                <div class="mb-5">
                                    <img src="~/womeye2.png" class="rounded mx-auto d-block" alt="womeye" style="width:150px; height:150px; margin-bottom:0px; margin-top:0px;">
                                   
                                </div>

                                <!-- Form Login -->
                                <form asp-action="Index" method="post" asp-controller="Login" class="user">

                                    <!-- Input USER_ID -->
                                    <div class="form-outline form-white mb-4">
                                        <label asp-for="USER_ID" class="form-label"></label>
                                        <input id="signinId" asp-for="USER_ID" class="form-control form-control-user" autofocus/>
                                        <span asp-validation-for="USER_ID" class="text-danger"></span>
                                    </div>

                                    <!-- Input USER_PASS -->
                                    <div class="form-outline form-white mb-4">
                                        <label asp-for="USER_PASS" class="form-label"></label>
                                        <input id="signinPwd" asp-for="USER_PASS" class="form-control form-control-user" type="password" />
                                        <span asp-validation-for="USER_PASS" class="text-danger"></span>
                                    </div>

                                    <!-- Button -->
                                    <a><input type="submit" value="Login" class="btn btn-primary btn-user btn-block" onclick="loginValidation()" data-toggle="modal" data- /></a>
                                    <!-- region Area Response -->


                                    
                                </form>

                                @if (Model.responseMessage != "xx")
                                {
                                    <p class="text-danger">@Model.responseMessage</p>
                                }

                                <hr>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>



    @*</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
</body>

</html>



